@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600;800&family=Montserrat:wght@200;300;500&display=swap');
body{
    margin: 0;
    padding: none;
    
}

h1,h3{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 800;

}

h2,h4{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600;
    
}

h5{
    font-family: 'Montserrat', sans-serif;

}


